<h1>Blackjack</h1>
<br>
<div>
  <p>Dealer's Cards:<p>
  <ul class="inline">
      <% session[:dealer_hand].each do |card| %>
        <li><img src="/images/cards/<%= card_to_image(card) %>"></li>
      <% end %>
  </ul>
</div>
<br>
<div>
<p> <%= session[:player_name] %>'s Cards: </p>
  <ul class="inline">
      <% session[:player_hand].each do |card| %>
        <li><img src="/images/cards/<%= card_to_image(card) %>"></li>
      <% end %>
  </ul>
</div>
<!-- Hit or Stay buttons --> 
<h5><%= session[:player_name] %> currently has <%= calculate_deck_total(session[:player_hand]) %>. 
 What would <%= session[:player_name] %> like to do?</h5> 
 <p><%= session[:player_name] %> has $<%= session[:total_bet] %> total. 
 Bet amount this round: $<%= session[:player_bet] %> . </p>

<div>
  <ul class="inline">
    <li>
      <form action="/game" method="post">
      <input type="submit" value="HIT" class="btn btn-success">
    </form>
    </li>
    <li>
      <form action="/game" method="post">
      <input type="submit" value="STAY" class="btn btn-warning">
    </li>
    </form>
  <ul>
</div>  
